section{
    padding-top: 55px;
    background-color: #f1f1f1;
}
/* 导航样式 */
.container>.types{
    margin: 100px 0px;
}
.container>.types a{
    width: 39px;
    height: 94px;
    line-height: 39px;
    padding: 6px;
    transition: color .5s;
    font-weight: bold;
    text-align: center;
    display: block;
    color: black;
    border-radius: 20px;
    box-sizing: border-box;
}
.container>.types a:hover{
    color: #f2254d;
}
.container>.types a.active{
    color: #fff;
    background-color: #f2254d;
    box-shadow: 8px 3px 6px 0px lightgrey;
}
/* 排序相关样式 */
.container .sort{
    font-size: 15px;
    font-weight: bold;
}
.container .sort>a,.sort>p{
    margin-right: 20px;
}
/* 博客列表样式见comm.css */