a:hover{
    text-decoration: none;
}
body{
    position: relative;
}
body::before{
    display: table;
    content: "";
}
html{
    font-size: 16px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 999999;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
}
header,header iframe{
    height: 75px;
}

footer iframe,header iframe{
    width: 100%;
}
.firstFloor{
    margin-top: 75px;
}
.bg-skyblue {
    background: #105ae4;
}
.font-sm{
    font-size:12px ;
}
.font-plumRed{
    color: #FC427B;
}
.facebookicon,.twittericon,.googleicon,.linkedinicon{
    display: block;
    width: 85px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background: #3b5998;
    border-radius: 5rem;
    font-size: 13.5px;
    transition: background .5s;
}
.twittericon{
    background: #1b97e4;
}
.twittericon:hover{
    background: #21aaff;
}
.facebookicon:hover{
    background: #4b71c5;
}
.facebookicon:hover,.twittericon:hover,.linkedinicon:hover,.googleicon:hover{
    text-decoration: none;
    color: #fff;
}
.linkedinicon{
    background: #0077b5;
}
.linkedinicon:hover{
    background: #008dda;
}
.googleicon{
    background: #dd4b39;
}
.googleicon:hover{
    background: #ff5842;
}

/* 大屏-超大屏 */
@media (min-width: 992px){
    footer,footer iframe{
        height: 610px;
    }
}
/* 超小屏-中屏 */
@media (max-width: 991px){
    footer,footer iframe{
        height: 820px;
    }
}
/*********************************博客页公共样式***********************/

/*全局样式*/
.shadow-box{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.14);
}
.font-sm-grey{
    font-size: 14px;
    color: #5e5e5e;
}
.radius-border{
    border-radius: 3px;
}
.tagName{
    font-weight: 700;
    font-size: 14px;
    color: #2962ff;
}
.decoration-underline:hover{
    color: black !important;
    text-decoration: underline !important;
}
/* 左边博客 */
.container .blog-list .card-body .card-title{
    font-weight: 700;
    color: #000;
    font-size: 24px;
    transition: color .5s;
}
.container .blog-list .card-body a:hover,.container .blog-list .card-body .icon>a:hover{
    color: #2962ff;
}
.container .blog-list .card-body .icon>a{
    transition:color .5s;
}
.container .blog-list .card-body .author span,.icon>a{
    font-size: 14px !important;
}
/* 右边信息 */
 /* 排行榜 */
 .container .blog-list .right .card-title{
    font-size: 16px;
    font-weight: 500;
}
.container .blog-list .right .top,.container .blog-list .right .title li{
    border-bottom: 1px solid lightgrey;
}
.container .blog-list .right .title{
    height: 40px;
}
.container .blog-list .right .title li{
    line-height: 40px;
}
.container .blog-list .right .title a{
    color: black;
    font-weight: 700;
    font-size: 14px;
    transition: color .5s;
}
.container .blog-list .right .title a:hover{
    color: #2962ff;
}
.container .blog-list .right .title li.activeBtn{
    border-bottom: 3px solid #2962ff;
}
.container .blog-list .right .title li.activeBtn>a{
    color: #2962ff;
}
.top-posts .exhibition{
    height: 500px;
    overflow-y: scroll;
}
.container .blog-list .top-posts #most-views .others-views{
    height: 110px;
}
.container .blog-list .top-posts #most-views .others-views .title{
    color: black;
    font-weight: 500;
}
#recent,#most-views,#top_comments{
    background-color: white;
}
.container .blog-list .top-posts .content{
    display: none;
}
.container .blog-list .top-posts .activeDiv{
    display: block;
}
.container .blog-list .top-posts .commentText .operation{
    margin-top: 93px;
}

.container .blog-list .top-posts .commentText .operation>li>a>span{
    font-size: 12px;
    color: rgb(163, 163, 163);
}
.container .blog-list .top-posts .commentText .operation>li>a:hover>span{
    color: rgb(105, 105, 105);
}
.container .blog-list .top-posts .commentText>span{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
}
.container .blog-list .top-posts .portrait{
    display: block;
    margin:0 auto
}
.container .blog-list .top-posts .uname>a{
    font-size: 12px;
    color: #105ae4;
}
 /* 订阅 */
.subscribe_text>p{
    color: #5e5e5e;
    font-size: 14px;
    line-height: 24px;
    }
.subscribe_text>input+span{
    left: 61px;
    top: 98px;
    color: #9e9e9e;
    font-size: 13px;
    transition: all .2s;
}
.subscribe_text>input+span.active{
    left: 51px;
    top: 65px;
    color: #2962ff;
    font-size: 12px;
}
.subscribe_text>input{
    height: 40px;
    width: 260px;
    padding: 5px 10px;
    background-color: #e5e5e5;
    border-radius: 3px;
    font-size: 13px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #9e9e9e;
}
.subscribe_text>a{
    margin: 0 auto;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #2962ff;
    transition: background-color .5s;
}
.subscribe_text>a:hover{
    background-color: #f44336;
}
