a:hover{
    text-decoration: none;
}
.container .content{
    border-radius: 1rem;
    box-shadow: 15px 23.15px 15.1px 1px rgba(0, 0, 0, 0.3);
}
.container .content ul>li>input{
    outline: none;
    height:50px
}
.container .content ul>li>p{
    line-height: 100%;
    margin-bottom: 0;
}
#registerBtn{
    border: 0;
    box-shadow: 15px 6.15px 12.1px 1px rgba(0, 0, 0, 0.3);
    transition: background .5s;
    cursor: pointer;
}
#registerBtn:hover{
    background: #e83e8c;
}
#uname_msg,#upwd_msg,#cpwd_msg,#email_msg,#phone_msg{
    color: #dd4b39;
    padding-top: 2px;
}